# Stripe
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxx

# CinetPay (Orange Money / Wave)
CINETPAY_API_KEY=xxxxxxxxxxxxxxxxxxxxx
CINETPAY_SITE_ID=xxxxxxxxx

# Optionnel (laisser 1 ou 0)
ENABLE_ORANGE_MONEY=1
ENABLE_WAVE=1
